body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*  HEADER  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgb(24, 24, 27) 50%, rgb(31, 31, 35) 100%);
    height: 20px;
    
}
.header img {
    margin-top: 40px;
    width: 90px;
    margin-left: 30px;
}
.menu {
    display: flex;
    gap: 10px;
    margin-right: 30px;
    margin-top: 60px;
}
.menu li {
    list-style-type: none;
    cursor: pointer;
}
.menu li a:hover {
    color: #aaa8ff;
}
.menu li a{
  text-decoration: none;
  color: white;
}
body { 
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estrutura geral */
  .hero-content {
    margin: 80px 100px;
  }
  
  .filme-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  
  .img-background img {
    width: 800px;
    border-radius: 10px;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
   
  }
  
  /* Resenha */
  .essay p {
    text-align: justify;
    max-width: 500px;
    line-height: 1.2;
  }
  
  /* Nota */
  .grade-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
  }
  
  .icon-tomate {
    width: 40px;
  }
  
  .grade-content h3 {
    margin: 0;
  }

  .info-general {
    margin-top: 40px;
  }
  
  .info-general h1 {
    margin-bottom: 20px;
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 120px; 
    row-gap: 12px;
    align-items: start;
    white-space: nowrap; 
  }
  
  .info-grid p {
    margin: 0;
    line-height: 1.8; 
  }

  /* FOOTER */
footer {
  margin-top: 100px;
  color: white;
  padding: 20px 60px;
  font-family: Arial, sans-serif;
  background: #000000;
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgb(24, 24, 27) 50%, rgb(31, 31, 35) 100%);
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #aaa8ff
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.footer-logo img {
  width: 90px;
}

.footer-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  cursor: pointer;
}

.footer-copy {
  font-size: 14px;
  color: #888;
}

  
  
  






